<!-- -->
<launch>

  <arg name="plane" default="7"/>
  <arg name="sim_mode" default="false"/>

  <node pkg="gnss_localizer" type="nmea2tfpose" name="nmea2tfpose" output="log">
    <param name="plane" value="$(arg plane)"/>
    <param name="plane" value="0" if="$(arg sim_mode)"/>
  </node>

</launch>
